<!DOCTYPE html>
<html>
  <head>
    <title>ViteApplicationDemo</title>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application' %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
